{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Mot à modifier{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Modifier un mot</h1>
    {{ include('word/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_word_index') }}">back to list</a>

    {{ include('word/_delete_form.html.twig') }}
</section>
{% endblock %}