{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Mot à ajouter{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Ajouter un mot</h1>

    {{ include('word/_form.html.twig') }}

    <a href="{{ path('admin_words') }}">back to list</a>
</section>
{% endblock %}