{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Mot en détails{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Mot [id {{ word.id }}] ({{ word.grammaticalClass }})</h1>

    <div>
        <aside>
            <img src="{{ word.pathIllustration }}" alt="illustration">
        </aside>
        <div>
            <ul>
                <li><img class="icon_small" src="/img/icons/flag_fr.png" alt="français" /> {{ word.frLabel }}</li>
                <li><img class="icon_small" src="/img/icons/flag_de.png" alt="allemand" /> {{ word.deLabel }}</li>
                <li><img class="icon_small" src="/img/icons/flag_an.png" alt="anglais" /> {{ word.enLabel }}</li>
                <li><img class="icon_small" src="/img/icons/flag_eo.png" alt="espéranto" /> {{ word.eoLabel }}</li>
                <li><img class="icon_small" src="/img/icons/flag_br.png" alt="breton" /> {{ word.brLabel }}</li>
            </ul>
        </div>
    </div>

    <a href="{{ path('app_word_index') }}">back to list</a>

    <a href="{{ path('app_word_edit', {'id': word.id}) }}">edit</a>

    {{ include('word/_delete_form.html.twig') }}
</section>
{% endblock main %}
