{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Admin accueil{% endblock %}

{% block main %}
<section class="p-2">
<h1>Gestion des objets</h1>
<nav>
    <ul>
        <li><a href="{{ path('admin_users') }}">
            <img src="" alt="" />
            Utilisateurs
        </a></li>
        <li><a href="{{ path('admin_themes') }}">
            <img src="" alt="" />
            Thèmes
        </a></li>
        <li><a href="{{ path('admin_words') }}">
            <img src="" alt="" />
            Mots
        </a></li>
        <li><a class="disabled" href="{{ path('admin_sentences') }}">
            <img src="" alt="" />
            Phrases
        </a></li>
        <li><a class="disabled" href="{{ path('admin_lessons') }}">
            <img src="" alt="" />
            Leçons
        </a></li>
    </ul>
</nav>
</section>

<section class="p-2">
<h1>Outils</h1>
<a href="{{ path('_profiler_home') }}">
    <img src="" alt="" />
    Symfony Profiler
</a>
</section>
{% endblock main %}