{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Admin themes{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Gestion des thèmes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Createur</th>       
                <th><img class="icon_small" src="/img/icons/flag_fr.png" alt="français" /></th>
                <th><img class="icon_small" src="/img/icons/flag_de.png" alt="allemand" /></th>
                <th><img class="icon_small" src="/img/icons/flag_an.png" alt="anglais" /></li>
                <th><img class="icon_small" src="/img/icons/flag_eo.png" alt="espéranto" /></th>
                <th><img class="icon_small" src="/img/icons/flag_br.png" alt="breton" /></li>
                <th>Image</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for theme in themes %}
            <tr>
                <td>{{ theme.id }}</td>
                <td>{{ theme.createdBy.username }}</td>
                <td>{{ theme.labelFrFr }}</td>
                <td>{{ theme.labelDeDe }}</td>
                <td>{# theme.labelEnEn #}</td>
                <td>{# theme.labelEoEo #}</td>
                <td>{# theme.labelBrBr #}</td>
                <td>{{ theme.pathLogo }}</td>
                <td>{{ theme.isPublic ? 'Public' : 'Private' }}</td>
                <!--td>{{ theme.createdAt ? theme.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ theme.updatedAt ? theme.updatedAt|date('Y-m-d H:i:s') : '' }}</td-->
                <td>
                    <a href="{{ path('app_theme_show', {'id': theme.id}) }}">show</a>
                    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_theme_new') }}">Create new</a>
</section>

{% endblock main %}