{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Admin users{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Gestion des users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Email</th>
                <th>Langue</th>
                <th>Date inscription</th>
                <th>Date dernière connexion</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <ul>
                        {% for role in user.roles %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ user.email }} {{ user.isVerified }}</td>
                <td>{{ user.langNative }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td></td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock main %}