{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Admin words{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Gestion des Mots</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Illustration</th>
                <th>Id</th>
                <th><img class="icon_small" src="/img/icons/flag_fr.png" alt="français" /></th>
                <th><img class="icon_small" src="/img/icons/flag_de.png" alt="allemand" /></th>
                <th><img class="icon_small" src="/img/icons/flag_an.png" alt="anglais" /></li>
                <th><img class="icon_small" src="/img/icons/flag_eo.png" alt="espéranto" /></th>
                <th><img class="icon_small" src="/img/icons/flag_br.png" alt="breton" /></li>
                <th>Grammatical class</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <td>{{ word.pathIllustration }}</td>
                <td>{{ word.id }}</td>
                <td>{{ word.frLabel }}</td>
                <td>{{ word.deLabel }}</td>
                <td>{{ word.enLabel }}</td>
                <td>{{ word.eoLabel }}</td>
                <td>{{ word.brLabel }}</td>
                <td>{{ word.grammaticalClass }}</td>
                <td>
                    <a href="{{ path('app_word_show', {'id': word.id}) }}">show</a>
                    <a href="{{ path('app_word_edit', {'id': word.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_word_new') }}">Create new</a>
</section>
{% endblock main %}