.btn-lnk {
    outline: none;
    display: inline-block;
    min-width: 3rem ;
    text-align: center;
    line-height: 3 ;
    padding : var(--size-unit) ;
    border-bottom-style : solid ;
}

.lnk_ondark, .lnk_ondark:visited {
    border-bottom-color : transparent ;
}
.lnk_ondark:focus, .lnk_ondark:hover {
    background-color : rgba(255,255,255, 0.15) ;
    border-bottom-color : grey ;
}

.lnk_ondark:active {
    background-color : rgba(255,255,255, 0.25) ;
}