.cards {
    display: flex;
    justify-content : center ;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
}


.cards_item {
    width: 220px;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid lightslategray;
}

.card_content {
    padding: 1rem;
}

.card_image {
    text-align: center;
    margin-top : 1rem ;
}

.card_title {
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    /*text-transform: capitalize;*/
    margin: 0px;
}

.card_text {
    color: #222222;
    font-size: 0.875rem;
    line-height: 1.25;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

/* SRC : https://codepen.io/mahmudulhrabby/pen/GGqdvr */