.ruban {
	text-align: center;
	color: white;
	font-weight: bold;
	background: lightgreen;
	padding: 10px;
    width : 100% ;
}

@media screen and (min-width: 380px) {
    .ruban {
        width: 250px;
        transform: rotate(45deg);
        position: fixed;
        left: -65px ;
        bottom: 30px;
    }
  }