/* FLEXBOX */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
    /*grow 1, shrink 1, basis 0*/
}

.flew-grow-1 {
    flex-grow: 1;
    /*grow 1, shrink 1, basis auto*/
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.list-style-none {
    list-style-type: none;
}

/* POSITIONNING */
.d-inline-block {
    display : inline-block ;
}

/* SPACES */
.m-0 {
    margin: 0;
}
.mr-2 {
    margin-right: calc(var(--size-unit) * 2);
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: var(--size-unit);
}

.p-2 {
    padding: calc(var(--size-unit) * 2);
}
.pl-1 {
    padding-left: var(--size-unit);
}
.p-3 {
    padding: calc(var(--size-unit) * 3);
}

.p-5 {
    padding: calc(var(--size-unit) * 5);
}