* {
    box-sizing: border-box;
}

body {
    font-family : sans-serif ;
}

h1, h2 {
    margin-top : 0 ;
}

a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

.disabled {
    opacity : 30% ;
    cursor : not-allowed ;
}

.icon_small {
    height : 50px ;
}

.icon_micro {
    height : 15px ;
}

.vignette {
    width : 75px ;
    height : 75px ;
    /*border : 2px lightslategray solid ;
    border-radius : 10px ;*/
}