/* PALETTE */

body {
    min-height : 100vh ;
    --color-dark : #584053 ;
    --color-bright1 : #8DC6BF ;
    --color-bright2 : #FCBC66 ;
    --color-bright3 : #F97B4F ;
    --color-light : #fefded ;
    --color-white : #FFFFFF ;
    --color-valid : #B54F4F ;
    --color-danger : #577F52 ;
    --size-unit : 8px ;
}

/* --------------------------------------- */

header {
    background-color : var(--color-dark) ;
    color : var(--color-light) ;
}

main {
    background-color : var(--color-light) ;
}

footer {
    background-color : var(--color-dark) ;
    color : var(--color-light) ;
}

/* --------------------------------------- */

.lnk_ondark, .lnk_ondark:visited {
    color : var(--color-bright2) ;
    border-bottom-color : transparent ;
}
.lnk_ondark:focus, .lnk_ondark:hover {
    background-color : rgba(255,255,255, 0.15) ;
    border-bottom-color : var(--color-bright2) ;
}

.lnk_ondark:active {
    background-color : rgba(255,255,255, 0.25) ;
}
