<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vocabulang{% endblock %}</title>
    <meta name="author" content="Motzee LaLicorne" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="m-0 d-flex flex-column">
    {% block body %}
    <header class="d-flex flex-wrap justify-content-between align-items-center">
        <div id="app_logo" class="pl-1">
            <a class="btn-lnk lnk_ondark" href="{{ path('app_home') }}" title="accueil">Vocabulang</a>
        </div>
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <img src="" alt="" />
            {{ app.user.username }} <a class="btn-lnk lnk_ondark" href="{{ path('app_logout') }}" title="log out">[x]</a>
            {% else %}
            <nav class="navbar">
                <ul class="list-style-none m-0 p-0 navbar_list_btn-lnk">
                    <li class="d-inline-block"><a class="btn-lnk lnk_ondark d-inline-block" href="{{ path('app_login') }}">Login</a></li>
                    <li class="d-inline-block"><a class="btn-lnk lnk_ondark d-inline-block" href="{{ path('app_register') }}">Sign in</a></li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    <main class="flex-1">
        {% block main %}
        {% endblock main %}
    </main>
    <footer class="d-flex align-items-center justify-content-between flex-wrap">
        <div class="p-2">LaLicorne<br/>
            CC_by-NC-SA
        </div>
        <div>
            <ul class="list-style-none m-0 p-0 navbar_list_btn-lnk">
                <li class="d-inline-block"><a class="btn-lnk lnk_ondark" href="http://motzee.fr/infos_legales.php" target="_blank">Infos légales</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="d-inline-block"><a class="btn-lnk lnk_ondark" href="{{ path('admin_home') }}">Admin</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="ruban">Site démo<br />
            Dév' en cours
        </div>
    </footer>
    {% endblock body %}
</body>

</html>