{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block main %}
<div class="p-2">
    <h1>Bienvenue</h1>
    <p>Cet outil destiné à être mobile-first est encore en cours de développement : veuillez vous connecter avec un rôle admin (interface bureau) pour avoir accès à + de fonctionnalités.</p>
    <nav>
        <ul>
            <li>Leçon</li>
            <li><a href="{{ path('app_theme_index') }}">Vocabulaire</a>
                </li>
            <li>Fiches</li>
        </ul>
    </nav>
</div>
{% endblock main %}