{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Thèmes{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Modifier un thème</h1>

    {{ include('theme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_theme_index') }}">back to list</a>

    {{ include('theme/_delete_form.html.twig') }}
</section>
{% endblock main %}