{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Thèmes{% endblock %}

{% block main %}
<section class="p-2">
    <h1>Liste du vocabulaire par thèmes</h1>

    <ul class="cards">
        {% for theme in themes %}
        <li class="cards_item">
          <div class="card">
            <div class="card_image">
                <img class="vignette" src="{{ theme.pathLogo }}" alt="" />
            </div>
            <div class="card_content">
              <h2 class="card_title"><img class="icon_micro" src="/img/icons/flag_fr.png" alt="français" />
                {{ theme.labelFrFr }}</h2>
              <p class="card_text"><img class="icon_micro" src="/img/icons/flag_de.png" alt="allemand" />
                {{ theme.labelDeDe }}</p>
              <button class="btn card_btn" disabled>Réviser cette série</button>
              {#<a href="{{ path('app_theme_show', {'id': theme.id}) }}">#}
            </div>
          </div>
        </li>
        {% else %}
        <li>Aucun thème n'est actuellement disponible.</li>
        {% endfor %}
        </ul>

</section>
{% endblock main %}