{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Thème{% endblock %}

{% block main %}<section class="p-2">

    <h1>Créer un nouveau Thème</h1>

    {{ include('theme/_form.html.twig') }}

    <a href="{{ path('admin_themes') }}">back to list</a>
</section>
{% endblock %}