{% extends 'base.twig' %}

{% block title %}{{ parent() }} - Thème{% endblock %}

{% block main %}<section class="p-2">
    <h1>Thème "{{ theme.labelFrFr }}" (id {{ theme.id }})</h1>
    <p>Créat·eur·rice : {{ theme.createdBy.username }}</p>

    <p>Thème {{ theme.isPublic ? 'Public' : 'Privé' }}</p>
    <p>Illustration :</p>
    <img src="{{ theme.pathLogo }}" alt="illustration de {{ theme.labelFrFr }}">


    <h2>Traduction</h2>
    <ul>
        <li><img class="icon_small" src="/img/icons/flag_fr.png" alt="français" /> {{ theme.labelFrFr }}</li>
        <li><img class="icon_small" src="/img/icons/flag_de.png" alt="allemand" /> {{ theme.labelDeDe }}</li>
        <li><img class="icon_small" src="/img/icons/flag_an.png" alt="anglais" /> {# theme.label #}</li>
        <li><img class="icon_small" src="/img/icons/flag_eo.png" alt="espéranto" /> {# theme.label #}</li>
        <li><img class="icon_small" src="/img/icons/flag_br.png" alt="breton" /> {# theme.label #}</li>
    </ul>

    <p>Création le {{ theme.createdAt ? theme.createdAt|date('Y-m-d H:i:s') : '' }}</p>
    <p>Dernière édition le {{ theme.updatedAt ? theme.updatedAt|date('Y-m-d H:i:s') : '' }}</p>

    <a href="{{ path('app_theme_index') }}">back to list</a>

    <a href="{{ path('app_theme_edit', {'id': theme.id}) }}">edit</a>

    {{ include('theme/_delete_form.html.twig') }}
    
</section>
{% endblock main %}